.no-items-grow .item {
    flex-grow: 0;
}

.all-items-grow .item {
    flex-grow: 1;
}

.first-item-grows .item:first-of-type {
    flex-grow: 1;
}

.third-item-grows .item:nth-child(3) {
    flex-grow: 1;
}

.multiple-items-grow .item:nth-child(2),
.multiple-items-grow .item:nth-child(3) {
    flex-grow: 1;
}