* {
    box-sizing: border-box;
}

.field-row > * {
    float: left;
}

.field-row::after {
    display: block;
    content: '';
    clear: both;
}

.field-row > label {
    padding: 6px 0;
    width: 40%;
}

.field-row > input, .field-row > textarea {
    width: 60%;
}

.top-align-label > label {
    padding-top: 0;
}