* {
    box-sizing: border-box;
}

.card-list {
    width: 990px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 300px;
    height: 332px;
    vertical-align: top;
    position: relative;
}

.card > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card > footer > button {
    display: block;
    margin: 0 auto;
}