* {
    box-sizing: border-box;
}

.field-row {
    display: flex;
    align-items: center;
}

.field-row > label {
    flex: 2 1 0%;
}

.field-row > input, .field-row > textarea {
    flex: 3 1 0%;
}

.top-align-label > label {
    align-self: flex-start;
}