* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    font-size: 10px;
}

#chat-container {
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
}

#side-bar {
    background: #0048AA;
    border-radius: 10px 0 0 10px;
}

#chat-window {
    border-radius: 0 10px 10px 0;
}

#search-container {
    padding: 0 20px;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}

#search-container input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

#new-message-container {
    border-top: 1px solid rgba(0,0,0,0.25);
    padding: 0 15px;
}

#new-message-container a {
    height: 40px;
    background: #eee;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.6rem;
}

#chat-title {
    background: #eee;
    padding: 0 20px;
    font-weight: bold;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    border-radius: 0 10px 0 0;
    font-size: 2.0rem;
    color: #0048AA;
}

#chat-message-list {
    padding: 0 20px;
    overflow-y: scroll;
}

#chat-form {
    background: #eee;
    padding-left: 42px;
    padding-right: 22px;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
}

.trash-logo {
    stroke: #0048AA;
    height: 36px;
}

#attachment-logo {
    cursor: pointer;
    height: 32px;
    fill:#0048AA;
    margin-right: 15px;
}

#chat-form input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

.conversation {
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
    max-width: 300px;
}

.conversation.active,
.conversation:hover {
    background: #002C88;
}

.conversation:hover {
    cursor: pointer;
}

.conversation > img {
    margin-right: 15px;
    max-width: 40px;
    max-height: 40px;
    height: 40px;
    border-radius: 100%;
}

.conversation-details {
    overflow-x: hidden;
}

.title-text {
    font-weight: bold;
    margin-right: 10px;
    color: #eee;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.created-date {
    color: #ddd;
    font-size: 1rem;
    white-space: nowrap;
}

.conversation-message {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    display: none;
}

#conversation-list {
    overflow-y: scroll;
}

.message-row {
    margin-bottom: 20px;
}

.message-time {
    font-size: 1.3rem;
    color: #777;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.you-message .message-text {
    background: #0048AA;
    color: #eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px
}

.other-message .message-text {
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

.user-picture-container {
    margin-right: 15px;
    min-width: 48px;
}

.user-picture-container img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}