.column {
    height: 100%;
}

.column {
    height: 100%;
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
}

.page-layout::after {
    display: block;
    content: '';
    clear: both;
}